<a href="https://colab.research.google.com/github/dhamvi01/Market-Basket-Analysis/blob/main/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Import Liraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#### 2 . Import Data

In [3]:
df = pd.read_csv("BreadBasket_DMS.csv")
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

#### 3. Raw data prep

 Weâ€™ll group the bread dataframe accordingly and display the count of items then we need to consolidate the items into 1 transaction per row with each product 1 hot encoded.

In [5]:
df = df.groupby(['Transaction','Item']).size().reset_index(name='count')
basket = (df.groupby(['Transaction', 'Item'])['count']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Transaction'))
#The encoding function
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)

#### 4. Model building

In [6]:
frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift")
rules.sort_values('confidence', ascending = False, inplace = True)
rules.head(10)

         antecedents consequents  ...  leverage  conviction
44           (Toast)    (Coffee)  ...  0.007651    1.775789
43  (Spanish Brunch)    (Coffee)  ...  0.002233    1.308493
28       (Medialuna)    (Coffee)  ...  0.005779    1.218561
34          (Pastry)    (Coffee)  ...  0.006590    1.172079
3        (Alfajores)    (Coffee)  ...  0.002368    1.142861
26           (Juice)    (Coffee)  ...  0.002266    1.127031
32            (NONE)    (Coffee)  ...  0.004539    1.122908
36        (Sandwich)    (Coffee)  ...  0.004086    1.122468
17            (Cake)    (Coffee)  ...  0.005350    1.109667
38           (Scone)    (Coffee)  ...  0.001642    1.100310

[10 rows x 9 columns]